<div class="row d-flex">
    <div class="col-sm-3">
        <div class="card" style="background-color: rgb(156, 156, 156);">
            <div class="card-body">
              <div class="cat-title">
                  <ul>
                      <li>Clientes</li>
                  </ul>
              </div>
              <div class="text-end">
                  <a mat-fab color="" routerLink="/Clientes"><i class="material-icons">people_alt</i></a>
              </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="background-color: rgb(156, 156, 156);">
            <div class="card-body ">
                  <div class="cat-title">
                      <ul>
                          <li>Facturas</li>
                      </ul>
                  </div>
                  <div class="text-end">
                      <a mat-fab color="" routerLink="/Facturas"><i class="material-icons">assignment</i></a>
                  </div>
            </div>
        </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
