<nav class="navbar navbar-expand-sm navbar-dark bg-black">
    <div class="container px-5">
        <a class="navbar-brand" routerLink="/"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a routerLink="/" class="nav-link active"><mat-icon>home</mat-icon></a>
                </li>
            </ul>
            <div fxLayout="row" fxLayout.sm="column">
              <div fxFlex="80%" fxFlex.sm="100%">
                  <div>
                    <input class="form-control me-2" disabled type="text" placeholder="">
                  </div>
              </div>
              <div fxFlex="20%" fxFlex.sm="100%">
                <div>

                </div>
            </div>
            </div>
        </div>
    </div>
  </nav>
