<div class="container">
    <br>
    <div class="row">
      <div class="col-md-6 align-self-center">
        <div class="cat-title">
          <ul>
            <li>Facturas</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 d-flex justify-content-end">
        <button class="cat-btn-create" mat-raised-button (click)="openDialogInsert()">
          <span class="material-icons" aria-hidden="false">
            add
          </span>
          <span>Agregar</span>
        </button>
      </div>
    </div>
  
    <br>
    <div class="shadow p-4 mb-5 rounded container-border-cat bucador">
      <div class="row" [formGroup]="formGroup">
        <div class="col-10">
          <mat-form-field class="buscador-form-field icon-buscador" appearance="outline">
            <input (input)="filtrarTabla()" class="PlutoSansMedium" style="width: 100%;" matInput type="text"
              formControlName="buscador" autocomplete="off" (keyup.enter)="filtrarTabla()"
              placeholder="Buscar Factura">
            <button matSuffix mat-icon-button aria-label="buscar" (click)="filtrarTabla()">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
      <br>
  
      <section>
        <div>
          <table mat-table [dataSource]="dataSource" class="cat-tbl-search">
          
            <ng-container matColumnDef="cliente">
              <th class="columna" style="width: 18%;" mat-header-cell *matHeaderCellDef> Cliente </th>
              <td mat-cell *matCellDef="let element"> {{element.cliente.nombre}} {{element.cliente.apellido}} </td>
            </ng-container>

            <ng-container matColumnDef="folio">
              <th class="columna" style="width: 18%;" mat-header-cell *matHeaderCellDef> Folio </th>
              <td mat-cell *matCellDef="let element"> {{element.folio}} </td>
            </ng-container>

            <ng-container matColumnDef="saldo">
              <th class="columna" style="width: 18%;" mat-header-cell *matHeaderCellDef> Saldo </th>
              <td mat-cell *matCellDef="let element"> {{element.saldo}} </td>
            </ng-container>

            <ng-container matColumnDef="fecha_Facturacion">
                <th class="columna" style="width: 18%;" mat-header-cell *matHeaderCellDef> Fecha facturación</th>
                <td mat-cell *matCellDef="let element"> {{element.fechaFacturacion | date :'dd/MM/yyy'}} </td>
              </ng-container>

              <ng-container matColumnDef="fecha_Creacion">
                <th class="columna" style="width: 18%;" mat-header-cell *matHeaderCellDef> Fecha Creación </th>
                <td mat-cell *matCellDef="let element"> {{element.fechaCreacion | date :'dd/MM/yyy'}} </td>
              </ng-container>
  
            <ng-container   matColumnDef="acciones">
              <th class="columna" style="width: 12%;" mat-header-cell *matHeaderCellDef> Acciones </th>
              <td mat-cell *matCellDef="let element">
                <div>
                  <button mat-icon-button color="warn" matTooltip="Eliminar" class="" alt="Eliminar" (click)="mostrarDialogo(element.id)"><mat-icon>delete</mat-icon></button>
                </div>
              </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
  
          <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
      </section>
  
    </div>
    <br>
  
  
  
  </div>
